/* ==========================================================================
    About Section & Page Stylesheet
   ========================================================================== */
.chill-img {
	position: static;
	left: 30%;
	top: auto;
	right: auto;
	bottom: 45%;
	display: inline-block;
	overflow: visible;
	max-width: 40%;
	float: none;
	text-align: left;
	mix-blend-mode: normal;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}
