/* ==========================================================================
    Sponsors Section Stylesheet
   ========================================================================== */

.sponsor-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.sponsor-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.diamond {
	display: block;
	width: 400px;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	-webkit-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	text-align: center;
}

.verafin {
	height: auto;
	width: 500px;
}

.vision33 {
	height: auto;
	width: 300px;
}

.img {
	width: auto;
	display: block;
	transition: all 0.5s ease;
}

.img:hover {
	transform: scale(1.1);
}

.diamond.img {
	display: block;
	margin-right: 0;
	margin-left: 0;
}

.gold {
	display: block;
	width: 320px;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	-webkit-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	text-align: center;
}

.gold.img {
	display: block;
	margin-right: 0;
	margin-left: 0;
}

.silver {
	display: block;
	width: 190px;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	-webkit-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	text-align: center;
}

@media screen and (max-width: 991px) {
	.verafin {
		height: auto;
		width: auto;
	}

	.vision33 {
		height: auto;
		width: 200px;
	}

	.silver {
		width: 125px;
	}
}

@media screen and (max-width: 767px) {
	.row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.silver {
		width: 150px;
		margin: 10px 0px;
	}
}

@media screen and (max-width: 479px) {
	.sponsor-row  {
		gap: 10px;
		flex-direction: column;
	}

	.diamond {
		width: 250px;
	}

	.gold {
		display: block;
		width: 200px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.gold.img {
		margin-bottom: 20px;
	}

	.silver {
		display: block;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		width: 150px;
		margin: 10px 0px;
	}
}
